* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(244, 255, 251);
}

/* FONT SETTING */

* {
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}





/* GRID SETTING */


/* FLEXIBLE SCREEN */

@media (min-width: 951px) {
  .main-container {
    display: grid;
   grid-template-columns: 2fr 2fr;

    /* grid-template-columns:repeat(2, 1fr) ; */
  }
}


@media (min-width: 600px) and (max-width: 950px) { 
  .main-container {
    display: grid;
    grid-template-columns: 1, 1fr;
  /* background-color: bisque; */
  border-radius: 20px;
  } 
}




/* .main-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* background-color: bisque; */
  /* border-radius: 20px; */
 */

.section__little-navbar {
  grid-column: 1/3;
}
/* 
.navbar__item-left {
  grid-column: 1/2;
}

.navbar__item-right {
  grid-column: 2/3;
} */


.section__header {
  grid-column: 1/3;  
  /* background-color: bisque; */
}


.section__navigation {
  grid-column: 1/3;
  /* background-color: bisque; */
}

.section__content-title {
  grid-column: 1/3;
  /* background-color: bisque; */
}

.section__content-left {
  grid-column: 1/2;
  /* background-color: bisque; */
}

.section__content-right {
  grid-column: 2/3;
  /* background-color: bisque; */
}





/* APPEAR IF 950px */

.section__little-navbar {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-inline: 50px;
  
    align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
  /* justify-content: center; */
}

.navbar__item-left {

  /* justify-content: center; */
  /* justify-items: center; */
}

.navbar__item-left img {
  /* display: inline-flex; */
  width: 80px;
  padding-top: 10px;
    align-items: center;
  justify-content: center;
  justify-items: center;
  justify-content: center;
}



.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}

h2 {
  text-align: left;
  font-weight: bold;
  border-left: aqua 20px;
  font-size: 35px;
}

.navbar__item {
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 0 10px;
  align-items: center;
  color: black;

}

.navbar__item-span {
  font-size: 30px;
  align-items: center;
  margin: 0 10px;
  justify-content: center;
  opacity: 0.5;
}



.section__little-navbar i,
.navbar i {
  background-color: #FF3E79;
  color: white;
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
  /* text-align: center; */
  border-radius: 20px;

}






.part {
  display: flex;
  font-size: 17px;

}


.part__navigation {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-left: 50px;
  color: black;
  text-decoration: none;
  text-align: center;
}


.part__navigation:hover,
.navbar__item:hover,
a:hover {
  opacity: 0.5;
  /* scale: 1.1; */
}





.content {
  /* display: flex; */
  font-size: 20px;
  margin-bottom: 20px;
}

.section__content-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;

}

.main {
  margin-left: 50px;
  color: rgb(99, 99, 99);
}

.main a {
  text-decoration: none;
  padding: 0 10px;
  align-items: center;
  color: rgb(99, 99, 99);

}

img {
  width: 500px;
}


